################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DeliverBackend/DeliverBackend/obj/Release/Package/PackageTmp/Web.config
